<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TM_Easyslide>
            <version>0.1.0</version>
        </TM_Easyslide>
    </modules>
    <frontend>
        <!--<routers>
            <easyslide>
                <use>standard</use>
                <args>
                    <module>TM_Easyslide</module>
                    <frontName>easyslide</frontName>
                </args>
            </easyslide>
        </routers>-->
        <layout>
            <updates>
                <easyslide>
                    <file>easyslide.xml</file>
                </easyslide>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <easyslide>
                <use>admin</use>
                <args>
                    <module>TM_Easyslide</module>
                    <frontName>easyslide</frontName>
                </args>
            </easyslide>
        </routers>
    </admin>
     <global>
        <models>
            <easyslide>
                <class>TM_Easyslide_Model</class>
                <resourceModel>easyslide_mysql4</resourceModel>
            </easyslide>
            <easyslide_mysql4>
                <class>TM_Easyslide_Model_Mysql4</class>
                <entities>
                    <easyslide>
                        <table>easyslide</table>
                    </easyslide>
                    <easyslide_slides>
                        <table>easyslide_slides</table>
                    </easyslide_slides>
                </entities>
            </easyslide_mysql4>
        </models>
        <resources>
            <easyslide_setup>
                <setup>
                    <module>TM_Easyslide</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easyslide_setup>
            <easyslide_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easyslide_write>
            <easyslide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easyslide_read>
        </resources>
        <blocks>
            <easyslide>
                <class>TM_Easyslide_Block</class>
            </easyslide>
        </blocks>
        <helpers>
            <easyslide>
                <class>TM_Easyslide_Helper</class>
            </easyslide>
        </helpers>
    </global>
</config>